---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    <div class="clearfix">{{ content }}</div>
    <!-- Staff -->
    {% include staff.liquid %}

    <!-- News -->
    {% if page.news and site.announcements and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}
  </article>
</div>
