---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      <span class="font-weight-bold"> {{ page.course_code }}: </span>{{ page.course_name }}
    </h1>
    <h4 class="desc">{{ page.term }}</h4>
  </header>

  <article>
    <div class="clearfix">{{ content }}</div>
    <!-- Staff -->
    <h2 style="color: inherit">staff</h2>
    {% include staff.liquid %}
    <hr>
    <!-- News -->
    {% if page.news and site.announcements and site.announcements.enabled %}
      <h2 style="color: inherit">news</h2>
      {% include news.liquid limit=true %}
    {% endif %}
  </article>
</div>
